.details-header {
  position: relative;
}

#detail-drop-down {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: 23px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#details-title {
  max-width: 70%;
}

.record-details-cont {
  background-color: #f6f6f7;
  margin: 6px;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px #80808040;
  border-radius: 10px;
}

.edit-field,
.read-only-fields {
  display: flex;
  flex-direction: column;
}

.record-details-actions {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 18px;
  width: 100%;
}

.detail {
  display: none;
}

#toggle:checked ~ .detail {
  display: initial;
}

.visually-hidden {
  visibility: hidden;
}
