small,
a {
  color: black;
  text-decoration: none;
}

.record {
  border: 3.5px solid #dae7e3;
  padding: 20px;
  border-radius: 10px;
  margin: 6px;
}

.actions-cont {
  position: relative;
  background-color: #266e58;
  align-self: center;
  justify-self: end;
  border-radius: 5px;
  width: 24px;
  height: 24px;
}

.record-actions div {
  padding: 5px;
}
.actions-cont:hover {
  cursor: pointer;
}

.record-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.record-actions {
  position: absolute;
  top: 25px;
  background-color: #f6f6f7;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
}
