.record {
  border: 3.5px solid #dae7e3;
  padding: 20px;
  border-radius: 10px;
  margin: 6px;
}

.actions-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #266e58;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  width: 24px;
  height: 24px;
}

.event-action {
  background-color: #e36027;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.record-actions div {
  padding: 5px;
  color: black;
}

.actions-cont:focus-within .record-actions {
  visibility: visible;
}

.record-actions {
  visibility: hidden;
}

.record-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.record-link a,
.record-link small {
  font-weight: 600;
  font-size: 0.9rem;
  color: #266e58;
  text-align: center;
}

.record-link a:hover {
  opacity: 0.7;
}

.record-actions {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #f6f6f7;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
}

.record-actions a {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 900px) {
  .record-actions div {
    padding: 6px;
  }
}
