#createRecordModal .modal-actions {
  margin-top: 10px;
}

#createRecordModal .modal-actions button {
  margin: 5px;
}

.create-record-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-create-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  resize: none;
}
