.editor-cont {
  background-color: #f6f6f7;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #80808040;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 10;
}

.modified-cont {
  margin-left: 5px;
  color: #807a7a;
}

.tab {
  padding: 4px;
  background-color: #ffffff;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: px 1px 1px 0px #80808040;
  margin-top: 5px;
}

.text-block {
  border-radius: 5px;
  margin: 3px;
}

.question,
[data-item-name="question"] {
  background-color: rgba(23, 101, 170, 0.5);
}

.positive,
[data-item-name="positive"] {
  background-color: rgb(32, 141, 43, 0.5);
}
.negative,
[data-item-name="negative"] {
  background-color: rgb(186, 67, 20, 0.5);
}

@media (min-width: 850px) {
  .page-content {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
