.modal-content {
  position: relative;
  width: 90%;
}

.search-results-cont {
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: white;
  z-index: 10;
}

.search-item {
  padding: 3px;
  margin: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  border-radius: 5px;
}

.search-item:hover {
  background-color: #dae7e3;
  cursor: pointer;
}

.search-item small {
  color: #97979b;
  text-align: center;
}
