.summary-list {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin: 10px;
  gap: 15px;
}

.summary-topic {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
