.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh-date {
  position: absolute;
  bottom: -5px;
  color: #807a7a;
}

.summary-list {
  margin: 15px;
  gap: 15px;
  max-height: 500px;
  position: relative;
}

.summary-topic {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #266e58;
  font-weight: 600;
}

.summary-text {
  overflow-wrap: break-word;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
