@media (min-width: 850px) {
  #home-page-content {
    height: 92vh;
    justify-content: end;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  #NOTE {
    grid-column: 2;
    grid-row: 1;
  }

  #EVENT {
    grid-column: 1;
    grid-row: 1;
  }

  #TEMPLATE {
    grid-column: 3;
    grid-row: 1;
  }
}
