.login-cont {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f7;
  padding: 35px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #80808040;
  max-width: 375px;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-title {
  align-self: center;
}

.login-actions {
  margin-top: 10px;
  align-self: flex-end;
}
.login-actions button {
  margin: 3px;
}
