.record-details-cont {
  grid-row-start: 1;
  grid-row-end: 3;
}
.editor-cont {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 10;
}

.list-container {
  grid-row-start: 3;
  grid-row-end: 5;
}

@media (min-width: 650px) {
  .page-content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}
