h1 {
  color: #266e58;
}

.header {
  text-align: center;
}

.list-container {
  background-color: #f6f6f7;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #80808040;
  padding: 3px;
}
.no-results {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list-actions {
  display: flex;
  align-items: center;
}

.list-actions button {
  margin: 5px;
}

.record-list {
  display: grid;
  border-radius: 10px;
  margin: 10px;
  overflow: scroll;
}

.calendar-action-cont {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.calendar-action {
  width: 65%;
  height: 35px;
  max-width: 500px;
  margin-bottom: 10px;
}

[data-item-name="question"] {
  background-color: red;
}

.question {
  background-color: yellow;
}
