.list-container {
  background-color: #f6f6f7;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #80808040;
  padding: 20px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.list-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.list-actions {
  display: flex;
  align-items: center;
}

.record-list {
  display: grid;
  border-radius: 10px;
  margin: 10px;
  overflow: scroll;
  row-gap: 7px;
}

.calendar-action-cont {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.calendar-action {
  width: 65%;
  height: 35px;
  max-width: 500px;
  margin-bottom: 10px;
}

@media (min-width: 850px) {
  .list-container {
    display: grid;
    margin: 7px;
    padding: 2.5px;
  }

  .list-title {
    min-height: 50px;
  }

  .calendar-action-cont {
    align-self: flex-end;
  }

  .record-list {
    align-self: flex-start;
    margin: 0;
    overflow: initial;
    row-gap: 10px;
  }
}
