nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f6f6f7;
  padding-left: 3%;
  padding-right: 3%;
}

.nav-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-actions > button {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 30px;
  height: 30px;
  background-color: #266e58;
}

.home {
  background-color: #266e58;
}

.sign-out {
  background-color: #e36027;
}

.title {
  justify-self: flex-end;
  font-size: 2.2rem;
}

.title:hover {
  cursor: pointer;
  opacity: 0.7;
}
